* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 6rem;
    color: #fff;
}

img {
    background-size: cover;
}

.countdown-timer {
    background-image: url(images/vacation2.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.countdown {
    display: flex;
    justify-content: space-around;
}